body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

.container {
  margin: 0 10px;
}

.scroll-view-items {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.scroll-view-items :first-child {
  margin-left: 0;
}

.scroll-view-items :last-child {
  margin-left: 0;
}

.item {
  padding: 40px 80px;
  margin: 5px;
  background: #eee;
}
